:root{
    --color_s0: #293745;
    
    --color_s1: #FAE348;
    --color_s2: #009BB7;
    --color_s3: #50c1ec;
    
    --color_s4: #F9FAFA;
    --color_s5: #293745;
    --color_s6: #212529;
    
    --color_s7: #50c1ec;
    --color_s8: #DAE4EA;
    --color_s9: #798297;
    
    --color_s10: #eff6fc;
    --color_s11: #ffb917;
    --color_s12: #01b1c9;
    
    --color_s13: #2C2924;
}

body{color: var(--color_s0);}
.headerContacts__item:after, .siteLogoName:before, .siteLogoName:after, input[type="checkbox"]:checked + span:before{background-color: var(--color_s2);}
input[type="checkbox"]:checked + span:before{background-color: var(--color_s2);}
.headerNav{background-color: var(--color_s1);}


.btn_dark, .btn_lightColor2:hover{color: #ffffff; -moz-transition: all 200ms linear; -o-transition: all 200ms linear; -webkit-transition: all 200ms linear;}
.btn_dark:hover, .btn_light, .btn_lightColor1:hover{color: var(--color_s0); -moz-transition: all 200ms linear; -o-transition: all 200ms linear; -webkit-transition: all 200ms linear;}

.btn_dark{background-color: var(--color_s2); color: var(--color_s4);}
.btn_dark:hover{background-color: var(--color_s12); color: var(--color_s4);}

.btn_light{background-color: var(--color_s2); color: #ffffff}
.btn_light:hover{background-color: var(--color_s3); color: #ffffff}

.social_dark .social__item a:hover:before, .headerTagline strong, .headerTagline b {color: var(--color_s2);}

.headerTop a, .headerMenu .sub-menu .menu-item > a, input[type="checkbox"] + span:before {color: #fff;}

.headerTop, .headerMenu .sub-menu, .mobilePopupBox{background-color: var(--color_s0);}

.headerTop a:hover, .headerContacts__item:before, .headerMenu .sub-menu .menu-item:hover > a, .headerMenu .sub-menu .current-menu-item > a, .promoForm__text b, .formCheck_color_light input[type="checkbox"] + span a:hover, .mobileMenu .menu-item a:hover, .mobileMenu .current-menu-item > a, .mobileMenu .item_open > a, .mobileMenu .item_open > .subMenuToggle:after, .callBtnMobile a:hover , .numbers__value, .portfolioItem__title a:hover, .articleAnonsBox a:hover, .bigContacts__item i:before, .bigContacts__item a:hover, .mobileContactsList__item a, .breadcrumbs a:hover, .sidePrice a:before, .sideInfoList .menu-item a:hover, .sideInfoList .menu-item b:not(.sideInfoList__link_color_inverse) a:hover, .sideInfoList .current-menu-item a, .postMeta__cats:before, .sideInfoList__link_color_inverse a, .articleMeta__icon:before, .smallContacts__box:before {color: var(--color_s2);}

.promoForm__text strong{color: var(--color_s1);}

a, input[type="checkbox"] + span a:hover, .headerPhoneNumber a:hover, .sectionSupTitle, .postContent ul:not([class]) li:before, .postContent ol:not([class]) li:before, .priceBoxTitle, .testimonialBox__author, .footerSupTitle, .footerMenu > .menu-item > a:hover, .servCatsList__item a:hover, .servCatsList__item_current a, .sidePrice a:hover, .serviceItem__title a:hover, .postNav__all a:hover, .postNav__item a:hover .postNav__link, .sidePopularList__title a:hover, .articleItem__title a:hover, .similarPostsItem__title a:hover, .commentBody__date a:hover, .smallContacts__box a:hover {color: var(--color_s2);}

.sectionTitle:before, .sectionTitle:after, .tabsBox__item a:hover, .tabsBox__item a.active, .tabsBox .ui-tabs-active a, .tabsBoxMobile.open, .tabsBoxMobile:hover, .owl-dot:hover, .owl-dot.active, .pageTitle:after, .sideTitle:after, .mainbarBox__title:after {background-color: var(--color_s2);}

.sectionTitle.color_white:before, .sectionTitle.color_white:after{background-color: var(--color_s1);}

.testimonialBox__rate i:before{color: var(--color_s11);}

.bigContacts__item i, .sideBanner {border-color: var(--color_s2);}

.promoForm {background-color: var(--color_s13);}

.serviceBox__back, .portfolioItem__img:after, .articleAnonsBox, .bottomBar, .sideBanner, .serviceItem__img a:before, .postContent .image:before, .sidePopularList__thumb a:before, .articleItem__thumb a:before, .similarPostsItem__thumb a:before {background-color: var(--color_s6);}

.darkOverlay {background-color: var(--color_s6);}

.social_light .social__item a {-webkit-box-shadow: inset 0 0 0 .2rem var(--color_s2); box-shadow: inset 0 0 0 .2rem var(--color_s2);}
.social_light .social__item a:hover {-webkit-box-shadow: inset 0 0 0 4rem var(--color_s2); box-shadow: inset 0 0 0 4rem var(--color_s2);}

.testimonials {background-color: var(--color_s6);}

.callBtnMobile a:after{color: #fff; background: var(--color_s2);}

.stickyNavWrp .container{background-color: var(--color_s1);}

.sideInfoBox, .postContent table th {background-color: var(--color_s0);}

.breadcrumbs__content{color: var(--color_s9);}
.breadcrumbs a{color: var(--color_s9);}











/*

В© В«HandyManВ» вЂ“ MultiPurpose WordPress Site
Created by dzen-design.ru, 2020
License https://dzen-design.ru/agreement

*/
/**************************** HEADER ****************************/

.searchPopupBox {
	background-color: rgba(70,86,179,.9);
}



input[type="tel"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
	border-color: #ffb917;
}

.headerMenu > .menu-item > a,
.headerMenu > .menu-item > a:focus,
.searchBox__btn:before {
	color: rgba(0,0,0,1);
}

.headerMenu > .menu-item:hover > a,
.headerMenu > .current-menu-item > a,
.headerMenu > .current-menu-item > a:focus {
	color: rgba(0,0,0,.6);
}

.headerMenu > .menu-item:not(:last-child):before {
	background-color: rgba(0,0,0,.15);
}



div.wpcf7 .promoForm__submit_dark span.ajax-loader:before {
	color: #b1b8e6;
}

div.wpcf7 .promoForm__submit_light span.ajax-loader:before {
	color: #ab8b43;
}

/**************************** /HEADER ***************************/










.tabsBox__item a,
.tabsBox__item a:focus,
.tabsBox__item a:hover,
.tabsBoxMobile {
	color: #222;
}

.portfolioItem__btns a {
	background-color: rgba(255,185,23,0);
}

.portfolioItem__btns a:hover {
	background-color: rgba(255,185,23,1);
}

.sideBanner__content {
	background: rgba(38,40,55,1);
	background: -moz-linear-gradient(left, rgba(38,40,55,1) 0%, rgba(38,40,55,1) 10%, rgba(38,40,55,0.4) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(38,40,55,1)), color-stop(10%, rgba(38,40,55,1)), color-stop(100%, rgba(38,40,55,0.4)));
	background: -webkit-linear-gradient(left, rgba(38,40,55,1) 0%, rgba(38,40,55,1) 10%, rgba(38,40,55,0.4) 100%);
	background: -o-linear-gradient(left, rgba(38,40,55,1) 0%, rgba(38,40,55,1) 10%, rgba(38,40,55,0.4) 100%);
	background: -ms-linear-gradient(left, rgba(38,40,55,1) 0%, rgba(38,40,55,1) 10%, rgba(38,40,55,0.4) 100%);
	background: linear-gradient(to right, rgba(38,40,55,1) 0%, rgba(38,40,55,1) 10%, rgba(38,40,55,0.4) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262837', endColorstr='#262837', GradientType=1 );
}

.pages__current,
.pages a:hover {
	background-color: #4f61cc;
}

.sideTagsList__item a {
	border-color: rgba(79,97,204,.75);
	background-color: rgba(79,97,204,0);
}

.sideTagsList__item a:hover,
.sideTagsList__item_current a {
	border-color: rgba(79,97,204,0);	
	background-color: rgba(79,97,204,1);
}